.App {
  text-align: center;
}
/* Header CSS */
.header {
  /* background-color: antiquewhite;
  height: 10vh;
  margin-top: -2vh;; */
  display: flex;
  justify-content: center;
  /* justify-content: left; */
}
/* NavBar CSS */
.navBar{
  position: absolute;
  display: flex;
  justify-content: center;
  /* margin-top: 2vh; */
  width: 40vw;
  background-color: rgba(167, 164, 164, 0.75);
  border-radius: 2em;
  border-radius: 0px 0px 40px 40px;  
}
.navLink {
  padding: 10px;
}
/* Home Page CSS */
  .homeGrid {
    /* margin-top: 3vh; */
    display: flex;
    justify-content: space-evenly;
    ;
  }
  .homeBox {
    width: 50vw;
    height: 50vh;
    color: white;
    font-size: 3vw;
    vertical-align: middle;
  }
  .homeBoxContents {
    margin-top: 10vh;
  }
  p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .driveBtns {
    padding:20px;
    margin: 15px 5px 0;
  }
  .spacer {
    width:100vw;
    height: 1vh;
  }

/* Country Select CSS */
.countryContainer{
  border-left: 150px solid rgb(16, 220, 64);
  height: 95vh;
}
.listTitle {
  padding: 25px;
}
.countryList {
  display: flex;
  flex-wrap: wrap;
  justify-content:baseline;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 85vw;
  text-align: left;

}
.countryCard {
  width:250px;
  padding: 0 40px 0;
  border-left: 2px solid rgb(16, 220, 64);
}
.countrySelect:hover { 
transform: scale(1.3);
text-decoration: underline;
text-decoration-color: rgb(16, 220, 64);
text-decoration-thickness: 3px;
margin-left: 30px;
}
/* Country Details CSS */
.flag {
  
}

