.App {
  text-align: center;
  
}

/* Header CSS */
.header {
  display: flex;
  justify-content: center;
}

.navBar{
  position: absolute;
  display: flex;
  background-color: #233D4D;
  border-radius: 0px 0px 40px 40px;  
  color: white;
}
.navLink {
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
  color: white
}
.navLink:visited{
  color: white;
}
.navLink:hover {
  transform: scale(1.4);
}
/* Home Page CSS */
  .homeGrid {
    display: flex;
    justify-content: space-evenly;
    ;
  }
  .homeBox {
    width: 50vw;
    height: 50vh;
    color: white;
    font-size: 3vw;
    vertical-align: middle;
  }
  .homeBoxContents {
    margin-top: 15vh;
  }
  p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .driveBtns {
    padding:20px;
    margin: 15px 5px 0;
  }
  #nameBox {
    background-color: #A1C181
  }
  #langBox {
    background-color: #FCCA46
  }
  #currencyBox {
    background-color: #FE7F2D
  }
  #regionBox {
    background-color: #23beb6
  }
  .spacer {
    width:100vw;
    height: 10vh;
  }

/* Country Select CSS */
.RSLTs_Page{
  display: flex;
  justify-content: space-between;
}
.countryContainer {
  min-height: 100vh;
}
.listTitle {
  padding: 25px;
}
.countryList {
  display: flex;
  flex-wrap: wrap;
  justify-content:baseline;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 70%vw;
  text-align: left;
}
.countryCard {
  width:250px;
  padding: 0 40px 0;
  border-left: 2px solid ;
}
.countrySelect:hover { 
transform: scale(1.3);
margin-left: 30px;
}
/* Country Details CSS */
.details_page {
  display: flex;
  justify-content: space-between;
 
}
.image_container {
  margin-top: 14vh;
 
}
.flag, .coatOfArms {
  display: block;
  padding: 20px;
  margin: auto;
}
.flag{
  width:25vw;
  margin-top: 3vh; 
}
.coatOfArms {
  width:20vw;
  height: 20vw;
}
.country_details {
  display: flex;
  justify-content: space-evenly;
}
.countryName {
  color:white;
  padding: 15px;
  padding-left: 35px;
  border-radius: 40px 0px 0px 40px;
  margin-top: 10vh;
  margin-right:-15vh;
  width:40vw;
  text-align: left;
}
.country_facts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 3vw;
  font-size: auto ;
  padding-left:2vw;
  border-left: 1px solid #A1C181;
  width: 30vw;
  max-height: 80%;
  
}
.leftBox{
  min-height:100vh;
  width:10%;
}
.rightBox{
  min-height:100vh;
  width:10%;
}
.maps{
  margin-top: 15px;
}
.backBtn {
  margin-top: 25px;
  align-self: center;
}
